:root{
    --button-color:blue;
    --heading-font:"playfair display", serif;
    --default-font:"Poppins", sans-serif;
--primary-color:white;
--secondary-color:black;
--background-color:gray;
}

h1,h2,h3,h4,h5,h6{
    color:var(--secondary-color);
    font-weight: bold;
    font-family: var(--heading-font);

}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h1{
    font-size: 50px;
    line-height: 1.5;
  
}
h2{font-size: 40px;

}
.one {
  background-color: var(--background-color);
  text-align: center;
  padding: 80px 20px;

}
p{
  font-weight: normal;
  font-weight: 16px;
  line-height: 30px;
}
.one p{
    font-size: 36px;
    font-weight: bold;
   margin: 0;
}
.one h2{
    font-family:var(--default-font);
    font-weight: 24px;
  font-style: normal;
  color: var(--secondary-color);
  line-height: 2;
}
.button-one{
    border-radius: 4px;
    background-color:var(--button-color);
    color:var(--primary-color);
    line-height: 20;
    padding: 12px 15px;
    margin-bottom: 5px;
}
.button-two{  
    background-color:var(--primary-color);
    color:var(--button-color);
    line-height: 20;
    padding: 10px 15px;
    
    border: 2px solid;
    border-radius:10px ;
    text-decoration: none;

}
.project-description{
padding: 120px 60px;
}

@media (max-width: 900px){
.project-description{
  padding: 0;
  text-align: center;
}
}
.about-section h1{
  font-size: 40px;
}
.about-section h2{ font-size: 30px;
  line-height: 50px;

}
.about-section p{font-size: 14px;
  font-family:var(--default-font) ;

}
.about-section content{
  margin: 20px;
  padding: 0;
}
img{
border-radius: 10px;
border: 1px solid;

}
.work-content h1{
  font-size: 40px;
  text-align: center;
}
.work-content h3{
  font-size: 20px;
  font-weight: bold;
  font-family: var(--default-font);
  margin-top: 18px;
}
.work-content p{
  font-size: 14px;
}
  nav ul{margin: 0;
    padding: 0;

  }
  nav li{
list-style: none;
    display: inline;
    line-height: 30px;
    margin-left: 10px;
  }

  nav{
    padding: 24px;
  }
nav a{
  text-decoration: none;
  font-size: 14px;
}
nav a:hover{
  color: var(--button-color);
}
nav li.active a{
  color: var(--secondary-color);
}